@font-face {
  font-family: "weather";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
}
.ci {
  color: #fff;
  font-family: weather;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
}
.ci-0:before {
  content: ":";
}
.ci-1:before {
  content: "p";
}
.ci-2:before {
  content: "S";
}
.ci-3:before {
  content: "Q";
}
.ci-4:before {
  content: "S";
}
.ci-5:before {
  content: "W";
}
.ci-6:before {
  content: "W";
}
.ci-7:before {
  content: "W";
}
.ci-8:before {
  content: "W";
}
.ci-9:before {
  content: "I";
}
.ci-10:before {
  content: "W";
}
.ci-11:before {
  content: "I";
}
.ci-12:before {
  content: "I";
}
.ci-13:before {
  content: "I";
}
.ci-14:before {
  content: "I";
}
.ci-15:before {
  content: "W";
}
.ci-16:before {
  content: "I";
}
.ci-17:before {
  content: "W";
}
.ci-18:before {
  content: "U";
}
.ci-19:before {
  content: "Z";
}
.ci-20:before {
  content: "Z";
}
.ci-21:before {
  content: "Z";
}
.ci-22:before {
  content: "Z";
}
.ci-23:before {
  content: "Z";
}
.ci-24:before {
  content: "E";
}
.ci-25:before {
  content: "E";
}
.ci-26:before {
  content: "3";
}
.ci-27:before {
  content: "a";
}
.ci-28:before {
  content: "A";
}
.ci-29:before {
  content: "a";
}
.ci-30:before {
  content: "A";
}
.ci-31:before {
  content: "6";
}
.ci-32:before {
  content: "1";
}
.ci-33:before {
  content: "6";
}
.ci-34:before {
  content: "1";
}
.ci-35:before {
  content: "W";
}
.ci-36:before {
  content: "1";
}
.ci-37:before {
  content: "S";
}
.ci-38:before {
  content: "S";
}
.ci-39:before {
  content: "S";
}
.ci-40:before {
  content: "M";
}
.ci-41:before {
  content: "W";
}
.ci-42:before {
  content: "I";
}
.ci-43:before {
  content: "W";
}
.ci-44:before {
  content: "a";
}
.ci-45:before {
  content: "S";
}
.ci-46:before {
  content: "U";
}
.ci-47:before {
  content: "S";
}
